# app
NEXT_PUBLIC_APP_NAME=
NEXT_PUBLIC_APP_DOMAIN=

# database
DATABASE_URL=

# auth
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_cXVpZXQtc2hyaW1wLTUuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_jXbVZbcbNoeeBC5cq4dysNVbhCwTeGUueGz0MS00yu
NEXT_PUBLIC_CLERK_SIGN_IN_URL="/signin"
NEXT_PUBLIC_CLERK_SIGN_UP_URL="/signup"
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_URL="/"
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_URL="/"
